body {
    color:		#000000;
    background-color:	#ffffff;
}

td {
    border-style:	solid;
    border-width:	1px;
}

table {
    border-style:	solid;
    border-width:	2px;
}

h1 {
    font-size:		x-large;
    background-color:	#00cfcf;
    padding:		3px;
    border-style:	solid;
    border-width:	1px;
}

h2 {
    font-size:		large;
    background-color:	#00cfcf;
    padding:		3px;
    border-style:	solid;
    border-width:	1px;
}

h3 {
    font-size:		medium;
    background-color:	#cfcfcf;
    padding:		3px;
    border-top-style:	solid;
    border-top-width:	1px;
    border-bottom-style:	solid;
    border-bottom-width:	1px;
}
